.Edge{
    background-color: white;
    height: 4px;
    z-index: 99;
}
.Edge:hover{
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: orange;
    z-index: 101;
}

.SelfLoop{
    border-style: solid;
    border-color: white;
    border-width: 5px;
    background-color: transparent;
    z-index: 99;
}
.SelfLoop:hover{
    cursor: pointer;
    border-style: solid;
    border-width: 5px;
    border-color: orange;
    z-index: 101;
}